.infbar-container { 
  width: 100%;
  transform: translateY(-80%);
  border: 1px solid rgba(255, 255, 255, 1); 
  height:60px;
  background-color: transparent;
  overflow: hidden; 
  display: flex;
  overflow-x: hidden; /* Ngăn cuộn ngang */
}

.infbar-track {
  display: flex;
  flex-shrink: 0; /* Ngăn track bị co lại */
  /* Áp dụng animation */
  animation: infinite-scroll-logo 30s linear infinite; /* Tăng thời gian để chạy mượt hơn */
}

.infbar-logo {
  filter: invert(1);
}

.infbar-logo {
  height: 40px; 
  width: auto;
  /* Thêm khoảng cách trái/phải cho mỗi logo */
  padding: 0.75rem 1.5rem; 
  filter: invert(60%) sepia(65%) saturate(400%) hue-rotate(30deg) brightness(100%) contrast(200%);
}

@keyframes infinite-scroll-logo {
  from {
    transform: translateX(0);
  }
  to {
    /* Giá trị này vẫn đúng, nó sẽ di chuyển track đi 1 nửa chiều dài của chính nó */
    transform: translateX(-50%);
  }
}